{% extends "cipt_app/base.html" %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container" style="color:White; background-color:#282828; border-radius:5px;>
  <div class="jumbotron">
<br><br>
    <center>
<!--        <table >-->
<!--            <tr>-->
<!--            <th>Emotions</th>-->
<!--            <th>Count</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Angry</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Disgust</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Fear</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Happy</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Neutral</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Sad</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Surprise</td>-->
<!--                <td>{{ d }} </td>-->
<!--            </tr>-->
<!--          </table>-->
    {% if ief == 100 %}
      <h6>Excellant :D, Your Illegal Emotion Count was : {{ ief }}
          <br>Which is Superb!, You're ready for Campus Interview.
          <br><br>You can still watch our reference videos shown below</h6>
    {% elif ief == 80 %}
      <h6>Very Good :), Your Illegal Emotion Count was : {{ ief }}
          <br>Which is Very nice!, But You can still improve.
          <br><br>You may refer our solution videos shown below</h6>
    {% elif ief == 60 %}
      <h6>Good! , Your Illegal Emotion Count was : {{ ief }}
          <br>Which is Good!, but you can still improve.
          <br><br>You may refer our solution videos shown below</h6>
    {% elif ief == 40 %}
      <h6>Poor :(, Your Illegal Emotion Count was : {{ ief }},
          <br>Which is poor!, You need to work hard on your emotions.
          <br>Which means your were nervous or showing any other emotion other than neutral or happy throughout the interview
          <br><br>You need to refer our solution videos shown below</h6>
    {% elif ief  == 20 %}
      <h6>very poor:O, Your Illegal Emotion Count was : {{ ief }},
          <br>Which means your were nervous or showing any other emotion other than neutral or happy throughout the interview
          <br>Which is Very Poor!, You need to work very hard on your emotions.
          <br><br>You need to refer our solution videos shown below seriously. Never give up!</h6>
    {% endif %}
  </center>
    {% for item in videos %}
       <center>
       <br><br>
       {% video item.url '426x240' %}
       </center>
    {% endfor %}
  </div>
</div>

{% endblock content%}
