{% extends "cipt_app/base.html" %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="container" style="color:White; background-color:#282828; border-radius:5px;>
  <div class="jumbotron">
<br><br>
      <center>
    {% if ieb == 100 %}
       <h6>Excellant :D, Your Illegal Body Posture Count was : {{ ieb }}
          <br>Which is Superb!, You're ready for Campus Interview.
          <br><br>You can still watch our reference videos shown below</h6>
    {% elif ieb == 80 %}
      <h6>Very Good :), Your Illegal Body Posture Count was : {{ ieb }}
          <br>Which is Very nice!, But You can still improve.
          <br><br>You may refer our solution videos shown below</h6>
    {% elif ieb == 60 %}
      <h6>Good! , Your Illegal Body Posture Count was : {{ ieb }}
          <br>Which is Good!, can still improve.
          <br><br>You may refer our solution videos shown below</h6>
    {% elif ieb == 40 %}
      <h6>Poor :(, Your Illegal Body Posture Count was : {{ ieb }},
          <br>Which is poor!, You need to work hard on your Body Posture.
          <br>Which means your arms were either cross or over-extended,
          cross arms creates negative impression in front of interviewer
          <br><br>You need to refer our solution videos shown below</h6>
    {% elif ieb  == 20 %}
      <h6>Very Poor :O, Your Illegal Body Posture Count was : {{ ieb }},
          <br>Which is Very poor!, You need to work harder on your Body Posture.
          <br>Which means your arms were either cross or over-extended,
          cross arms creates negative impression in front of interviewer
          <br><br>You need to refer our solution videos shown below seriously. Never give up!</h6>
    {% endif %}
    </center>
    {% for item in videos %}
       <center>
       <br><br>
       {% video item.url '426x240' %}
       </center>
    {% endfor %}
  </div>
</div>

{% endblock content%}
