{% extends "cipt_app/base.html" %}
{% load static %}
{% block content %}

<style>
.button {
height: 50px;
width: 100px;
}

</style>

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<br><br>
  <div class="container" style="color:White; background-color:#282828; border-radius:5px;">
    <div class="jumbotron">
      <br><br>
      <center>
        <a href="{% url 'tech_int_python' %}"  class="btn" style="color: white; background-color: #fd5e14; height: 50px; width: 170px; "type="submit" id="header-links">PYTHON</a><br><br>
        <a href="{% url 'tech_int_ds' %}"  class="btn" style="color: white; background-color: #fd5e14; height: 50px; width: 170px;"type="submit" id="header-links">Data Structure</a><br><br>
        <a href="{% url 'tech_int_dbms' %}"  class="btn" style="color: white; background-color: #fd5e14; height: 50px; width: 170px;"type="submit" id="header-links">DBMS</a><br><br>
        <a href="{% url 'tech_int_os' %}"  class="btn" style="color: white; background-color: #fd5e14; height: 50px; width: 170px;"type="submit" id="header-links">OS</a><br><br>
        <a href="{% url 'tech_int_cn' %}"  class="btn" style="color: white; background-color: #fd5e14; height: 50px; width: 170px;"type="submit" id="header-links">CN</a>
      <br><br><br>
      </center>
      </div>
  </div>
{% endblock content %}